/* CSS classes used for the desktop views of the components related with the Project module */
.desktopContainer {
  margin: 0rem;
  font-family: 'Helvetica';
  align-items: center;
}

.gridContainer{
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.container{
  width: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; 
  padding: 3rem !important;
}

@media (min-width: 576px) {
    .container {
      max-width: 540px; } }
@media (min-width: 768px) {
  .container {
    max-width: 720px; } }
@media (min-width: 992px) {
  .container {
    max-width: 960px; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

.columnsContainer {
  min-height: 100vh;
  background-color: #f5f5f5;
}

.projectLink {
  text-decoration: none;
  color: black;
}

.ticketButton {
	background-color: transparent;
	border: none;
	padding: 0.5rem 1rem 0.5rem 1rem;
  margin-bottom: 0.5rem;
	border-radius: 0.5rem;
}

.ticketButton:hover {
	background-color: #eee;
}

.card {
  margin: 0.5rem 0 0.5rem 0;
  width: 100% !important;
  min-width: 100% !important;
}

.centeredContainer {
  text-align: center;
}

.addButton {
  margin-top: 1.5rem !important;
}

.title {
  font-size: 2rem;
}

.formContainer {
  font-family: Helvetica;
}

.titleContainer {
  text-align: center;
  padding: 1.5rem 0 1.5rem 0;
  border-bottom: 0.1rem solid lightgray;
}

.titleVariant1 {
  margin-top: 0rem;
  color: #fc7272;
}

.titleVariant2 {
  margin-top: 0rem;
  color: #607afc;
}

.centeredContainer {
  text-align: center;
}

.formattedDialogContent {
  background-color: #f9f9f9;
}

.fieldInformation {
  margin: 1.2rem 0 1rem 0;
  font-size: 1rem;
  font-weight: bold;
}

.formattedTextField {
  width: 100%;
  margin-bottom: 2rem !important;
}

.optionButton {
  margin: 1rem 0 1.5rem 0 !important;
  width: 90%;
  height: 1.5rem import !important;
}

.formattedDropdown {
  width: 100%;
}

.formattedDatePicker {
  margin-top: 0;
  width: 100%;
}

/* CSS classes used for the mobile views of the components related with the Project module */
.mobileBackgroundComponent {
  margin: 0 !important;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.mobileProjectsComponent {
  margin: 1rem;
}